.hoofdtitel{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 3px;
    margin-left: 7%;
    color: white;
}

#table{
  width: 1500px;
  text-align: justify;
}

div.cell{
  float: left;
  width: 500px;
}

.clear{
  clear:both;
  overflow:hidden;
}

.photo {
  vertical-align: top;
  display: inline-block;
  width: 500px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;   
}

.detailbutton{
  float: right;
  padding-right: 20px;
  filter: invert(1);
}

.abutton{
  margin: 20px;
  filter: invert(1);
}

.kenmerk{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 300px; /* Ruimte tussen text en foto''s */
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}


